body {
  font-family: "Circe";
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  max-width: 1300px;
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.header__upper {
  display: flex;
  flex-direction: row;
}
.header__upper--title {
  text-transform: uppercase;
  max-width: 220px;
  width: 30%;
  font-size: 14px;
  margin-right: 5%;
  color: #EC1B2E;
}
.header__upper__links {
  display: inline-flex;
  font-size: 14px;
  max-height: 20px;
  width: 85%;
  font-weight: 400;
}
.header__upper__links--pic {
  width: 15px;
  height: 15px;
  padding-right: 2%;
  padding-top: 11px;
}
.header__upper__links--text {
  text-decoration: none;
  color: black;
  padding-top: 10px;
  padding-right: 5%;
}
.header__upper--button {
  padding: 10px 20px;
  gap: 10px;
  color: azure;
  background-color: #EC1B2E;
  border-color: #EC1B2E;
  box-shadow: none;
  border: none;
  max-width: 95px;
  cursor: pointer;
}
.header--line {
  margin-left: 0px;
  margin-right: 0px;
  border: 1px solid #333333;
}
.header__lower {
  display: flex;
  flex-direction: row;
  max-width: 1300px;
  width: 100%;
}
.header__lower--pic {
  padding-top: 24px;
  max-width: 53px;
  max-height: 45px;
  width: 100%;
}
.header__lower__links {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}
.header__lower__links--href {
  font-size: 12px;
  text-decoration: none;
  color: #333333;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 1%;
}

.city_picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 700px;
  margin-bottom: 50px;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-image: url("../images/backgroundPic.png");
  background-position: center;
}
.city_picture__box {
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.city_picture__box--inner_box {
  background: rgba(51, 51, 51, 0.5);
  margin-left: 15%;
  margin-top: 7%;
  width: 456px;
  height: 280px;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 140%;
  flex: none;
  padding: 15px 30px;
  gap: 10px;
  font-size: 40px;
  color: #FFFFFF;
}
.city_picture__box--button {
  padding: 15px 30px;
  margin-left: 15%;
  margin-top: 1%;
  max-width: 120px;
  background-color: #EC1B2E;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}

.spanish_insult {
  margin-top: 105px;
  margin-bottom: 35px;
  max-width: 1300;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.spanish_insult__box {
  display: grid;
  max-width: 1300px;
  width: 90%;
  grid-template-columns: 100px;
  grid-template-rows: 50px;
}
.spanish_insult__box__title {
  z-index: 1;
  padding: 10px 30px;
  gap: 10px;
  margin-left: 5%;
  width: -moz-fit-content;
  width: fit-content;
  grid-area: 1/1/1/3;
  background-color: #FFFFFF;
}
.spanish_insult__box__title--text {
  padding: 20px 25px;
  font-size: 48px;
  font-weight: 800;
  background-color: #FFFFFF;
}
.spanish_insult__box__box {
  z-index: 0;
  grid-area: 2/1/2/3;
  max-width: 638px;
  max-height: 405px;
  padding-bottom: 25px;
  box-sizing: border-box;
  border: 10px solid #EC1B2E;
}
.spanish_insult__box__box--text {
  padding: 15% 12%;
  padding-bottom: 10px;
}
.spanish_insult__box--pic {
  padding: 10px;
  max-width: 350px;
  max-height: 300px;
  grid-area: 3/3/2/4;
  opacity: 0.05;
}

.cost_block {
  width: 100%;
  max-width: 1300px;
  margin-top: 175px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cost_block--title {
  font-size: 48px;
  font-weight: 800;
}
.cost_block__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 1300px;
  margin-top: 27px;
}
.cost_block__buttons button {
  background-color: #EC1B2E;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  margin-right: 82px;
  margin-left: 82px;
}
.cost_block__buttons--text {
  padding: 12px 20px;
  max-width: 135px;
  max-height: 44px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.cost_block__table_variants {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1300px;
  margin-top: 55px;
  margin-bottom: 55px;
  font-size: 24px;
  font-weight: 700;
}
.cost_block__table_variants--text {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  max-width: 21%;
}
.cost_block__table_variants--text a {
  text-decoration: none;
  color: #333333;
}
.cost_block__table {
  width: 100%;
  max-width: 1300px;
}
.cost_block__table__head {
  background-color: rgba(51, 51, 51, 0.05);
  font-size: 20px;
  font-weight: 700;
  height: 48px;
}
.cost_block__table__head--group {
  padding-left: 20px;
  text-align: left;
  padding-right: 60px;
  width: 180px;
}
.cost_block__table__head--intence {
  padding-left: 20px;
  padding-right: 80px;
  text-align: left;
  width: 300px;
}
.cost_block__table__head--cost {
  padding-left: 20px;
  text-align: left;
  width: 600px;
}
.cost_block__table__body {
  padding-left: 20px;
  font-size: 18px;
  font-weight: 400;
  border-bottom: #333333;
}
.cost_block__table__body--highlight {
  display: inline;
  gap: 10px 20px;
  padding: 1% 2%;
  background-color: #EC1B2E;
  color: #FFFFFF;
}
.cost_block__table__body hr {
  border: rgba(51, 51, 51, 0.05);
}

.exams {
  margin-top: 175px;
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1300px;
}
.exams--title {
  font-size: 48px;
  font-weight: 800px;
  margin-bottom: 80px;
}
.exams__box {
  display: flex;
  flex-direction: row;
}
.exams__box__block {
  max-width: 300px;
  flex-direction: column;
  margin-right: 25px;
}
.exams__box__block--title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #333333;
}
.exams__box__block li {
  font-size: 16px;
  font-weight: 400;
}
.exams__box__block button {
  margin-top: 10px;
  margin-left: 20%;
  background-color: #EC1B2E;
  border: none;
  color: #FFFFFF;
  height: 58px;
  width: 163px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.events {
  margin-top: 175px;
  width: 100%;
  max-width: 1300px;
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.events--title {
  font-size: 48px;
  font-weight: 800px;
  margin-bottom: 100px;
}
.events__box {
  display: flex;
  flex-direction: row;
}
.events__box__block {
  max-width: 30%;
  flex-direction: column;
  margin-right: 4%;
}
.events__box__block--text {
  margin-top: 10px;
  margin-left: 20px;
  text-align: left;
  font-size: 16px;
}
.events__box__block--title {
  margin-top: 15px;
  margin-left: 20px;
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  color: #333333;
}
.events__box__block button {
  margin-top: 20px;
  margin-left: 20px;
  background-color: #EC1B2E;
  border: none;
  color: #FFFFFF;
  height: 58px;
  width: 163px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.news {
  margin-top: 175px;
  width: 100%;
  max-width: 1300px;
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.news__title {
  font-size: 48px;
  font-weight: 800px;
  margin-bottom: 100px;
}
.news__box {
  display: flex;
  flex-direction: row;
}
.news__box__block {
  max-width: 310px;
  flex-direction: column;
  margin-right: 25px;
}
.news__box__block--text {
  margin-top: 10px;
  text-align: left;
  font-size: 16px;
}
.news__box__block--title {
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  color: #333333;
}
.news__box__block button {
  margin-top: 20px;
  background-color: #EC1B2E;
  border: none;
  color: #FFFFFF;
  height: 58px;
  width: 163px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.footer {
  margin-top: 175px;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.05);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer__container {
  max-width: 1300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer__container__school {
  margin-top: 60px;
}
.footer__container__school__block {
  flex-direction: column;
}
.footer__container__school__block--title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 42px;
}
.footer__container__school__block--links {
  font-size: 14px;
  font-weight: 400;
}
.footer__container__school__block--links a {
  text-decoration: none;
  color: #333333;
}
.footer__container__school__block--links--img {
  display: inline;
  margin-right: 25px;
  width: 15px;
  height: 15px;
}
.footer__container__school__block--img {
  display: inline;
  margin-top: 50px;
  margin-right: 20px;
  max-width: 30px;
  max-height: 30px;
}
.footer__container__block {
  margin-top: 60px;
  margin-left: 5%;
  max-width: 200px;
  font-size: 14px;
  text-align: justify;
}
.footer__container__block--title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
}
.footer--line {
  justify-self: center;
  margin-top: -50px;
  width: 100%;
  max-width: 1300px;
  color: #333333;
}/*# sourceMappingURL=styles.css.map */